<div class="container-experiencia">
  <h2 class="titulo text-center mb-4">Experiência</h2>
  <p-timeline [value]="items" align="alternate" styleClass="custom-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="custom-marker"></span>
    </ng-template>
    <ng-template #content let-event>
      <p-card styleClass="custom-card mb-3" [header]="event.empresa" [subheader]="event.periodo">
        <img [src]="event.logo" [alt]="event.nome" width="80" class="shadow" />
        <p>
          {{ event.resumo }}
        </p>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
