@use '../../../assets/styles/colors' as *;

:host::ng-deep .custom-marker {
  background: $cor-verde-floresta;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

:host::ng-deep.p-timeline-event-opposite {
  max-height: 70px;
}

:host::ng-deep.p-timeline-event-connector {
  background: $cor-terracota;
  width: 1px !important;
}

:host::ng-deep.p-timeline-event-content {
  padding-left: 0 !important;
  max-width: 600px;
  flex: initial;
  padding-right: 32px !important;

  .p-card {
    color: $cor-verde-floresta;
    background-color: #ffffff00;
    box-shadow: none;
    border: 1px solid $cor-verde-floresta;
  }
}

:host::ng-deep.p-card-title {
  text-align: left;
  font-weight: bold;
}

.empresa-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
}

.resumo {
  font-weight: bold;
  text-align: left;
}

.container-periodo {
  flex-direction: column;
  align-items: flex-start;
  min-width: 220px !important;
  background: rgba($cor-verde-floresta, 0.7);
  padding: 8px;
  border-radius: 2px;
  color: $cor-algodao;

  .periodo {
    font-weight: bold;
  }

  .duracao {
    font-size: 14px;
    //font-weight: bold;
    letter-spacing: 1px;
  }
}


@media (max-width: 768px) {
  :host::ng-deep .p-timeline-event-separator {
    display: none;
  }

  host::ng-deep.p-timeline-event-content {
    max-width: 100%;
  }

  :host::ng-deep.p-timeline-event-opposite {
    display: none;
  }

  :host::ng-deep .custom-marker {
    display: none;
  }

  :host::ng-deep.p-timeline-event-content {
    max-width: 100%;
  }

  .container-periodo {
    max-width: 100%;
    background: inherit;
    max-height: initial;
    padding: 8px;
    border-radius: 2px;
    color: initial;

  }
  .periodo {
    text-align: left;
    font-size: 14px;
  }
}
