<app-page [resumo]="resumo" [urlBackground]="urlBackground" titulo="Experiências">
  <p-timeline [value]="items" align="right" styleClass="custom-timeline">
    <ng-template let-event pTemplate="opposite">
      <div class="container-periodo hidden md:flex">
        <span class="periodo">{{ event.dataInicio | periodo: event.dataFim }}</span>
        <span class="duracao">{{ event.dataInicio | duracao: event.dataFim }}</span>
      </div>
    </ng-template>
    <ng-template let-event pTemplate="marker">
      <span class="custom-marker hidden md:block"></span>
    </ng-template>
    <ng-template #content let-event>
      <p-card [header]="event.cargo" styleClass="mb-5">
        <div class="periodo md:hidden">
          <span class="mr-2">{{ event.dataInicio | periodo: event.dataFim }}</span>
          <span>{{ event.dataInicio | duracao: event.dataFim }}</span>
        </div>
        <div class="empresa-logo mt-2 mb-2 md:mb-3">
          <img [alt]="event.empresa" [src]="event.logo" class="logo mr-2"/>
          <span>{{ event.empresa }} | {{ event.estado }}</span>
        </div>
        <p class="resumo">
          {{ event.resumo }}
        </p>

      </p-card>
    </ng-template>
  </p-timeline>
</app-page>
