{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "importOrder": ["^@angular", "^[a-z]", "^@", "^[.]{1,2}/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
