@use '../../../assets/styles/colors' as *;

.container {
  background-color: $cor-verde-floresta;
  height: 5em;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $cor-texto-claro;

  .link-download {
    position: absolute;
    display: inline-flex;
    right: 3rem;
    align-items: center;
    gap: 0.5rem;
    color: $cor-algodao;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: 200ms;

    .pi {
      font-size: 1.2rem;
    }

    &:hover {
      color: rgba($cor-algodao, 0.7); // tom mais escuro no hover
    }
  }
}
