<app-page [resumo]="resumo" [urlBackground]="urlBackground" titulo="Tecnologias">
  <div class="grid container-experiencia mb-2">
    <div *ngFor="let category of techCategories" class="col-12 md:col-4">
      <h3 class="mb-2">{{ category.title }}</h3>
      <div *ngFor="let tech of category.items" class="flex items-center space-x-2">
        <span>{{ tech.name }}</span>
        <p-rating
          [ngModel]="tech.rating"
          [readonly]="true"
          class="custom-rating ml-3">
        </p-rating>
      </div>
    </div>
  </div>
</app-page>
