@use '../../../assets/styles/colors' as *;

.container-experiencia {
  max-width: 850px;
  font-size: 18px;
  color: $cor-verde-floresta;
}

:host::ng-deep.custom-rating .p-rating-icon {
  color: $cor-terracota
}
