<app-page [resumo]="resumo" [urlBackground]="urlBackground" titulo="Sobre">
  <section class="grid w-full">
    <section class="col-12 md:col-8 flex flex-column">
      <h2 class="mb-2">Formação</h2>
      <div class="mb-3">
        <h4>Desenvolvimento Mobile (incompleto)</h4>
        <span>Anhanguera (2024 - 2025)</span>
      </div>
      <div class="mb-3">
        <h4>Sistemas de Informação (incompleto)</h4>
        <span>Instituto Federal de Alagoas (2017 - 2020)</span>
      </div>
      <div class="mb-3">
        <h4>Ciência da computação (incompleto)</h4>
        <span>Universidade Federal de Alagoas (2013-2017)</span>
      </div>
    </section>
    <section class="col-12 md:col-4">
      <h2 class="mb-2">Idiomas</h2>
      <div class="mb-3">
        <h4>Português</h4>
      </div>
    </section>
  </section>
</app-page>
