@use '../../../assets/styles/colors' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $cor-algodao;
  overflow-y: auto;
}

.container {
  flex: 1;
  height: 100%;
  padding: 2em 2.5em;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .container {
    padding: 1em 2em;
  }
}
