@use '../../../assets/styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  animation: fadeSlideUp 1s ease forwards;
  color: $cor-verde-floresta;
}

.img-page {
  border-radius: 0.25rem;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.resumo-page {
  max-width: 850px;
  font-size: 18px;
  color: $cor-verde-floresta;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  color: $cor-verde-floresta;
  max-width: 850px;
  width: 100%;
}
