@use '../../../../assets/styles/colors' as *;

:host{
  display: flex;
  width: 100%;
  background: $cor-terracota;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;


  .container-menu {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .container-info {
    min-width: 300px;
    display: flex;
    flex-direction: column;

    #nome {
      font-size: 5em;
      color: $cor-texto-principal;
      //font-family: 'Poppins', sans-serif;
    }

    #cargo {
      font-size: 2em;
      color: $cor-texto-claro;
      font-weight: normal;
    }

  }


  .container-links {
    display: none;
    justify-content: space-between;
    align-items: center;

    .link {
      cursor: pointer;
      margin-left: 16px;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      color: $cor-texto-principal;

      &:hover {
        color: $cor-texto-claro;
        transition: 300ms;
      }
    }
  }


}


.container-perfil {
  position: relative;
  display: flex;

  .img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
  }

  .p-link {
    color: $cor-verde-floresta;
  }

  .container-icone-links {
    position: relative;
    min-width: 40px;

    #linkedin, #email, #wpp {
      position: absolute;
    }

    #email {
      top: 40px;
    }

    #linkedin {
      right: 10px;
      top: 10px;
    }

    #wpp {
      right: 10px;
      top: 70px;
    }
  }
}

:host::ng-deep.menu-button {
  background-color: inherit;
  border-color: $cor-terracota;

  &:active {
    background-color: $cor-verde-floresta !important;
  }

  &:hover {
    background-color: $cor-verde-floresta !important;
  }

  .p-button-icon {
    font-size: 30px;
  }
}

:host::ng-deep.p-menu-overlay {
  .p-menu-item-content {
    color: white;
    font-size: 18px;
  }

  background-color: $cor-terracota;
  border-color: $cor-verde-floresta;
}


@media (max-width: 600px) {
  .container {
    justify-content: space-between;
  }

  .container-menu {
  }
  .container-info {
    min-width: auto !important;

    #nome {
      font-size: 3em !important;
    }

    #cargo {
      font-size: 1.5em !important;
    }
  }
  .container-perfil {
    .img {
      width: 90px;
      height: 90px;
    }
  }

}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-header {
  animation: fadeSlideDown 0.8s ease forwards;
  opacity: 0;
}

.animate-stagger {
  opacity: 0;
  animation: fadeSlideDown 0.8s ease forwards;
}

.animate-delay-1 {
  animation-delay: 0.3s;
}

.animate-delay-2 {
  animation-delay: 0.5s;
}

.animate-delay-3 {
  animation-delay: 0.7s;
}


