<section class="col-12 container grid grid-nogutter">
  <div class="col-12  md:col-5 md:col-offset-3 lg:col-4 lg:col-offset-4 xl:col-3 xl:col-offset-4 mt-3">
    <h1 id="nome">LUCAS DUÉ</h1>
    <h3 id="cargo">Front-End Developer</h3>
  </div>
  <div class="col relative">
    <img src="assets/images/me.jpg" alt="Foto" class="img"/>
    <a id="linkedin" class="p-link" target="_blank" class="p-link" [href]="linkedinLink">
      <span class="pi pi-linkedin"></span>
    </a>

    <a id="email" class="p-link"
       href="mailto:lucasdue94@gmail.com?subject=Oportunidade%20de%20trabalho&body=Olá%20Lucas,%20gostei%20do%20seu%20perfil.%20Gostaria%20de%20entrar%20em%20contato."
       target="_blank">
      <span class="pi pi-envelope"></span>
    </a>

    <a id="wpp" class="p-link" target="_blank" [href]="wppLink">
      <span class="pi pi-whatsapp"></span>
    </a>

  </div>

</section>
