<section class="container wrapper animate-header p-2">
  <div class="container-menu flex lg:hidden animate-stagger animate-delay-1">
    <p-menu #menu [model]="items" [popup]="true"/>
    <p-button styleClass="menu-button" (click)="menu.toggle($event)" icon="pi pi-align-justify"/>
  </div>
  <div class="mt-3 container-info xl:ml-5 animate-stagger animate-delay-2" >
    <h1 id="nome">Lucas Dué</h1>
    <h3 id="cargo">Desenvolvedor Front-End </h3>
  </div>

  <div class="container-links lg:flex animate-stagger animate-delay-3">
    @for (item of items; track item.label) {
      <a class="link" [routerLink]="item.url">{{ item.label }}</a>
    }
  </div>

  <div class="container-perfil  animate-stagger animate-delay-3">
    <div class="container-icone-links">
      <a id="linkedin" class="p-link" target="_blank" [href]="linkedinLink">
        <span class="pi pi-linkedin"></span>
      </a>
      <a id="email" class="p-link"
         href="mailto:lucasdue94@gmail.com?subject=Oportunidade%20de%20trabalho&body=Olá%20Lucas,%20gostei%20do%20seu%20perfil.%20Gostaria%20de%20entrar%20em%20contato."
         target="_blank">
        <span class="pi pi-envelope"></span>
      </a>
      <a id="wpp" class="p-link" target="_blank" [href]="wppLink">
        <span class="pi pi-whatsapp"></span>
      </a>
    </div>
    <img src="assets/images/me.jpg" alt="Foto" class="img"/>
  </div>
</section>
