<h2 class="titulo mb-1">Resumo</h2>
<div>Como desenvolvedor já trabalhei com diferentes tecnologias e em diversos projetos,
  contribuindo não só na execução das tarefas, mas na fase do planejamento, design e
  arquitetura, tendo maiores expertises com Angular, Typescript e Node.js.
  Gosto de ser objetivo. Gosto de entregar com qualidade, mas entendo perfeitamente que
  em alguns momentos deve-se abrir mão de qualidade em detrimento do prazo, de forma
  que a entrega final não saia prejudicada, e que posteriormente possa ser melhorada.
  Sou cristão e meus valores são inegociáveis. Sou um bom ouvinte. Entendo que as críticas
  são fundamentais para o crescimento de qualquer pessoa.
</div>
