@use 'assets/styles/colors' as *;
@import 'primeicons/primeicons.css';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Quicksand', sans-serif;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: 'Fredoka', sans-serif;
}

/* Reset global para margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que o padding e border sejam incluídos no tamanho total do elemento */
}

.titulo {
  color: $cor-verde-floresta;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
}

/*sobrescreve menu overlay*/
.menu-custom.p-menu-overlay {
  background-color: $cor-terracota !important;
  border-color: $cor-verde-floresta !important;

  .p-menu-item-content {
    color: white;
    font-size: 18px;
  }
}

@keyframes fadeSlideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
