$cor-terracota: #A24A35;
$cor-verde-floresta: #1E3C34;
$cor-algodao: #F1ECDD;
$cor-texto-principal: #1E3C34;
$cor-titulo: #2F4F4F;
$cor-icone-exp: #BF4A36;
$cor-icone-edu: #3A84C9;
$cor-texto-claro: #FDFDFD;
